<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @player.bio %>
</p>

<p>
	<strong>Published At:</strong>
	<span id="published-at"><%= @player.published_at %></span>
</p>

<%= link_to 'Publish', publish_player_path(@player), method: :patch, remote: true, data: {disable_with: "Publishing..."} %> |
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
